@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6295e3;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  width: 100vw;
  font-size: x-large;
  text-align: center;
}

h3 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  font-weight: 700;
  color: black;
  border-bottom: 1px white solid;
}

.h2 {
  font-size: large;
}

.counter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 3rem;
}

main {
  width: 100vw;
  min-height: 90vh;
  background-color: white;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.food-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 700px;
  align-items: center;
  justify-content: center;
}

.calories-count {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

button.img-container {
  height: auto;
  width: auto;
  margin: 10px;
  border: 2px gray solid;
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
}

.food {
  height: 16vw;
  width: 16vw;
  min-width: 160px;
  min-height: 160px;
  display: flex;
  background-position: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.pizza {
  transform: scale(2);
  background-size: contain;
  background-position: center;
  background-image: url("https://www.pngmart.com/files/1/Pizza-Slice-Transparent-Background.png");
}

.ham {
  transform: scale(1.7);
  background-size: cover;
  background-image: url("https://i2.wp.com/freepngimages.com/wp-content/uploads/2016/11/bacon-burger.png?fit=895%2C895");
}

.ice-cream {
  transform: scale(1.7);
  background-size: cover;
  background-image: url("https://freepngimg.com/thumb/ice_cream/25328-5-ice-cream-cup-clipart.png");
}

.sushi {
  transform: scale(2);
  background-size: cover;
  background-position: left;
  background-image: url("img/sushi.png");
}

.food:hover {
  transform: scale(1.1);
}

.selected {
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
}

button.floating{
  border: 0px;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #06C;
	color: white;
	border-radius: 50%;
	text-align: center;
	box-shadow: 2px 2px 3px black;
}

.my-float{
	font-size: x-large;
}

.dark {
  background-color: #333333;
  color: white;
}